{"swagger":"2.0","info":{"title":"appsvc-roadshow31322-api","version":"1.0","description":"Azure OpenAI를 이용한 Azure 봇 서비스 API","contact":{"name":"App Innovation - Microsoft Korea","email":"appinno-kr@microsoft.com"},"license":{"name":"MIT License","url":"https://choosealicense.com/licenses/mit/"}},"host":"apim-roadshow31322.azure-api.net","schemes":["https"],"securityDefinitions":{"apiKeyHeader":{"type":"apiKey","name":"Ocp-Apim-Subscription-Key","in":"header"}},"security":[{},{"apiKeyHeader":[]}],"paths":{"/api/messages":{"post":{"description":"Azure OpenAI API(GPT 3.5)를 호출하여 질문을 text로 전달하고 content 답변을 받아 리턴합니다.","operationId":"sendMessage","summary":"Azure OpenAI API 질문 제출 및 답변 호출","tags":["Messages"],"parameters":[{"name":"messageRequest","in":"body","schema":{"$ref":"#/definitions/MessageRequest"},"description":"text 키 값으로 질문을 전달합니다."}],"consumes":["application/json"],"produces":["application/json"],"responses":{"200":{"description":"성공","schema":{"type":"object","properties":{"reply":{"type":"string","description":"reply"}}},"examples":{"application/json":{"reply":"Azure의 장점은 말입니다..."}}},"404":{"description":"AOAI 호출 throttling error","schema":{"$ref":"#/definitions/MessageResponse"},"examples":{"application/json":{"reply":"죄송해요, 지금은 답을 드릴 수 없어요. 서버에 문제가 있는 것 같아요. 다시 시도해주세요. 😥"}}},"500":{"description":"AOAI Endpoint 또는 API Key 에러","schema":{"$ref":"#/definitions/MessageResponse"},"examples":{"application/json":{"reply":"죄송해요, 지금은 답을 드릴 수 없어요. 서버에 문제가 있는 것 같아요. 다시 시도해주세요. 😥"}}}}}}},"definitions":{"MessageRequest":{"description":"Request body schema for the message API","required":["text"],"type":"object","properties":{"text":{"description":"AOAI에게 질문할 내용","type":"string","example":"Azure의 장점에 대해 알려줘."}},"example":{"text":"Azure의 장점에 대해 알려줘."}},"MessageResponse":{"description":"Response body schema for the message API","required":["reply"],"type":"object","properties":{"reply":{"description":"AOAI 답변","type":"string","example":"Azure의 장점은 말입니다..."}}}},"tags":[{"name":"Messages","description":"질문 제출 및 답변 호출"}]}